@charset "UTF-8";

#home {
  	background-color: rgba(255, 255, 255, 0.7);
 	 padding: 1rem;
  	border-radius: 25px;
}

#killers{
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 1rem;
  	border-radius: 25px;
}

#survivors{
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 1rem;
  	border-radius: 25px;
}

#suggestSurvivor{
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 1rem;
  	border-radius: 25px;
}

#suggestKiller{
	background-color: rgba(255, 255, 255, 0.7);
  	padding: 1rem;
  	border-radius: 25px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
